{% extends 'base.html'%}
{% block head %}
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static',filename = 'mycss.css')}}">
{% endblock %}

{% block body %}
    {% with message = [get_flashed_messages()] %}
    <ul style="list-style-type: None;">
        {% for item in message %}
        <li>{{item.0}}</li>
        {% endfor %}
    </ul>
    {% endwith %}
   <h1>hello world {{ name }}</h1>
   <div id = "mydiv" style="width: 400px; height: 500px;">

   </div>
{% endblock%}